* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navBar {
  overflow: hidden;
  background: #dc5303;
  justify-content: center;
}

.navBar a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navBar a:hover {
  color: black;
}

.navBar button{
  position:fixed;
  left: 0;
  top: 0;
  z-index: 10;
  cursor: pointer;
}

/*For hamburger menu*/
.menuNav{
  overflow-y: hidden;
  overflow-x: hidden;
  list-style: none;
  position: fixed;
  top: 0;
  background: black;
  /*hacky method of getting the menu to display properly*/
  left: -40px;
  bottom: 0;
  height: 120vh;
  width: 0;
  overflow: hidden;
  max-width: 290px;
  z-index: 9;
}

.menuNav.showMenu{
  width: 100%;
}

/*styling for various hamburger menu elements*/
.burger-option{
  color: #fff;
  float: left;
  clear: left;

}
.burger-footer{
  color: #fff;
  position: fixed;
  bottom: 80px;
}
.burger-logout{
  color: #fff;
  position: fixed;
  bottom: 40px;
}
.footer {
	background-color: #000;
}

.text-footer {
	text-align: center;
	padding: 30px 0;
	font-family: 'Ubuntu', sans-serif;
	display: flex;
	justify-content: center;
	color: #fff;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 20%;
}

/* Middle column */
.column.middle {
  width: 60%;
  background-color: rgb(253, 253, 253);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}